.readabout {
    border-left: 8px solid #525ded;
    width: fit-content;
    font-size: 22px;
    padding: 0.25px 0px;
    line-height: .25rem;
    /* background-color: red; */
    align-items: center;
    padding-left: 30px;
}

ul {
    color: #808080;
    font-weight: 500;
    /* background-color: red; */
    font-size: 26px;
    margin-bottom: 55px;
}

ul li b {
    color: black;
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 13px;
}

.inputmail {
    display: flex;

}


.inputmail input {
    border: none;
    padding-left: 20px;

    margin-left: 40px;
    font-size: 23px;
    background-color: #80808036;
    width: 300px;
}

.social {
    margin-top: 40px;
    margin-left: 41px;
    display: flex;
    width: 250px;
    justify-content: space-between;
}

.social img {
    cursor: pointer;
}

.juva {
    cursor: pointer;
}

@media screen and (min-width:768px)and (max-width:1024px) {

    .readabout,
    .readabout1 h3 {
        font-size: 1.30rem;
    }

    ul {
        font-size: 1.5rem;
    }

}

@media screen and (min-width:500px)and (max-width:768px) {
    .whole {
        display: flex;
        flex-wrap: wrap;
        word-wrap: break-word;
        justify-content: space-around;
    }


    .readabout {
        display: none;
    }

    ul {
        /* background-color: red; */
        width: 12rem;
        font-size: 1.5rem;
    }

    ul li {
        word-wrap: break-word;
    }

    ul li b {
        font-size: 1.8rem;
    }

    .hide,.hider {
        display: none;
    }
input{
    height: 4rem;
}
.juva {
    height: 4rem;
}
}